﻿@page
@model IndexModel

@section Scripts
{
<script>
    $(document).ready(() => {
        $('#run').click(() => {
            $('#result').text('please wait...');
            $.ajax({
                url: '?handler=Import',
                success: function (data) {
                    $('#result').html(data.replaceAll('.', '<br />'));
                },
                error: function (a, b, c) {
                    $('#result').html(`<span style="color:red;">${a.responseText}</span>`);
                }
            })
        })
    })
</script>
}

<button id="run" class="btn btn-info mt-4 mb-4">Start import</button>

<div id="result"></div>
